<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>シンプルなTodoアプリ - ホーム</title>
        <link rel="stylesheet" th:href="@{/css/style.css}" />
        <link
            href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,500,900&amp;subset=japanese"
            rel="stylesheet"
        />
    </head>
    <body>
        <section class="todoapp">
            <header class="header">
                <form method="POST" action="/create-todo">
                    <h1>ToDoリスト</h1>
                    <input name="title" class="new-todo" placeholder="必要なタスクを入力してください。" autofocus />
                </form>
            </header>
            <section class="main">
                <ul class="todo-list">
                    <li th:each="todo : ${todos}">
                        <div class="view">
                            <label th:text="${todo.title}"></label>
                            <button th:data-id="${todo.id}" class="goto-edit"></button>
                        </div>
                    </li>
                </ul>
                <footer class="footer">
                    <span class="todo-count" th:text="'残り ' + ${todos.size()}"></span>
                    <ul class="filters">
                        <li>
                            <a href="/" class="selected">全て</a>
                        </li>
                        <li>
                            <a href="/?is_completed=0">未完了</a>
                        </li>
                        <li>
                            <a href="/?is_completed=1">完了済み</a>
                        </li>
                    </ul>
                    <form method="POST" action="/clear-completed">
                        <button class="clear-completed">完了済みを削除</button>
                    </form>
                </footer>
            </section>
        </section>
        <footer class="info">
            <p>こちらのアプリは<a href="http://todomvc.com">TodoMVC</a> の仕様を一部変更して作成したものです。</p>
        </footer>
        <script>
            document.getElementsByClassName('goto-edit').onclick = function (e) {
                location.href = `/${e.target.dataset.id}/edit`;
                console.log(e.target.dataset.id);
            };
            document.getElementsByClassName('clear-completed').onclick = function () {
                this.closest('form').submit();
            };
        </script>
    </body>
</html>
